*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box{
  
  text-align: center;
  height: 500px;
  width: 40%;
  margin: 5% auto;
  border: 2px solid rebeccapurple;
  background-color: #cfc4e0;
  border-radius: 1rem;
}
.inp input{
  text-align: center;
  padding: 10px;
  width: 80%;
  height: 20%;
  margin: 10% auto;
  border-radius: 1rem;
  outline: none;
  border: none;
}
.showdata{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
 font-size:1.6rem;
 padding: 1rem;
}
.main{
  padding: 10px;
}

@media(max-width:768px){
  .box{
   width:80% !important;
  }
}
@media(max-width:1024px){
  .box{
   width:60% !important;
  }
}